# **PROJECT NAME : POWERPLAY SCORE PREDICTOR**

**AUTHORS**

AAMIR P

MUJEEBUR RAHMAN

HENRY JACOB

**IMPORT LIBRARIES**

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

**IMPORTING THE ZIP FILE AND EXTRACTING THE DATA**

In [2]:
from zipfile import ZipFile
from urllib.request import urlopen
from shutil import copyfileobj
from os import remove

url = 'https://cricsheet.org/downloads/ipl_csv2.zip'
file_name = 'ipl_csv2.zip'
with urlopen(url) as response, open(file_name, 'wb') as out_file:
    copyfileobj(response, out_file)
    with ZipFile(file_name) as zf:
        zf.extract('all_matches.csv')
remove('ipl_csv2.zip')
print('Data Extracted from Zip File')

Data Extracted from Zip File

**READ THE DATA**

In [3]:
data = pd.read_csv('all_matches.csv')
data

        match_id   season  ... other_wicket_type other_player_dismissed
0         335982  2007/08  ...               NaN                    NaN
1         335982  2007/08  ...               NaN                    NaN
2         335982  2007/08  ...               NaN                    NaN
3         335982  2007/08  ...               NaN                    NaN
4         335982  2007/08  ...               NaN                    NaN
...          ...      ...  ...               ...                    ...
200659   1254086     2021  ...               NaN                    NaN
200660   1254086     2021  ...               NaN                    NaN
200661   1254086     2021  ...               NaN                    NaN
200662   1254086     2021  ...               NaN                    NaN
200663   1254086     2021  ...               NaN                    NaN

[200664 rows x 22 columns]

**COPY DATA**

In [4]:
df = data.copy()

**ADD**

In [5]:
df['score'] = df['runs_off_bat'] + df['extras']

In [6]:
# keeping only first 6 overs
df.drop(df[df['ball'] >= 6].index, inplace = True)

# excluding super-overs
df.drop(df[df['innings'] > 2].index, inplace = True)

# dropping unnecessary columns
df.drop(['season','runs_off_bat','extras','wides','noballs','byes','legbyes','penalty','wicket_type',
         'player_dismissed','other_wicket_type','other_player_dismissed'], axis = 1, inplace = True)

In [7]:
# change str value of date to pandas datetime format
df['start_date'] = pd.to_datetime(df['start_date'])

In [8]:
# to know the last date
df['start_date'].max()

Timestamp('2021-05-02 00:00:00')

In [9]:
last_date_match = df[df['start_date'] == '2021-05-2 00:00:00']

In [10]:
# last match must be a final so we dont need to check how many matches on that day
# If doubt, to confirm we can see unique values
last_date_match['batting_team'].unique()

array(['Rajasthan Royals', 'Sunrisers Hyderabad', 'Punjab Kings',
       'Delhi Capitals'], dtype=object)

In [11]:
def scores_of_first_six_overs(data):
    teams = last_date_match['batting_team'].unique()
    team_1 = teams[0]
    team_2 = teams[1]
    first = last_date_match[last_date_match['batting_team'] == team_1]
    second = last_date_match[last_date_match['batting_team'] == team_2]
    print(f'{team_1} team scores for first six overs :')
    first_score_over = []
    initial = 0
    new_over = [(x + .1) for x in range(1, 6)]
    for i, j in zip(first['ball'].values, first['score'].values):
        print(f'{i} overs ---> {j} runs')
        time.sleep(0.2)
        if i in new_over:
            first_score_over.append(initial)
            initial = 0
        elif i == first['ball'].max():
            initial += j
            first_score_over.append(initial)
            break
        initial += j
    print('Total Runs in each over :')
    time.sleep(0.2)
    for x, y in enumerate(first_score_over):
        print(f'{x} over {y} runs scored')
        time.sleep(0.2)
    print(f'{team_1} scored {sum(first_score_over)} runs against {team_2} in first 6 overs')
    print('--------------')
    print(f'{team_2} team scores for first six overs :')
    second_score_over = []
    initial = 0
    new_over = [(x + .1) for x in range(1, 6)]
    for i, j in zip(second['ball'].values, second['score'].values):
        print(f'{i} overs ---> {j} runs')
        time.sleep(0.2)
        if i in new_over:
            second_score_over.append(initial)
            initial = 0
        elif i == second['ball'].max():
            initial += j
            second_score_over.append(initial)
            break
        initial += j
    print('Total Runs in each over :')
    time.sleep(0.2)
    for x, y in enumerate(second_score_over):
        print(f'{x} over {y} runs scored')
        time.sleep(0.2)
    print(f'{team_2} scored {sum(second_score_over)} runs against {team_1} in first 6 overs')

**OUTPUT**

In [12]:
scores_of_first_six_overs(last_date_match)

Rajasthan Royals team scores for first six overs :
0.1 overs ---> 0 runs
0.2 overs ---> 0 runs
0.3 overs ---> 1 runs
0.4 overs ---> 0 runs
0.5 overs ---> 1 runs
0.6 overs ---> 0 runs
1.1 overs ---> 0 runs
1.2 overs ---> 2 runs
1.3 overs ---> 0 runs
1.4 overs ---> 0 runs
1.5 overs ---> 1 runs
1.6 overs ---> 0 runs
2.1 overs ---> 4 runs
2.2 overs ---> 0 runs
2.3 overs ---> 4 runs
2.4 overs ---> 4 runs
2.5 overs ---> 0 runs
2.6 overs ---> 0 runs
3.1 overs ---> 1 runs
3.2 overs ---> 6 runs
3.3 overs ---> 1 runs
3.4 overs ---> 4 runs
3.5 overs ---> 0 runs
3.6 overs ---> 0 runs
4.1 overs ---> 1 runs
4.2 overs ---> 1 runs
4.3 overs ---> 1 runs
4.4 overs ---> 0 runs
4.5 overs ---> 0 runs
4.6 overs ---> 1 runs
5.1 overs ---> 4 runs
5.2 overs ---> 0 runs
5.3 overs ---> 4 runs
5.4 overs ---> 1 runs
5.5 overs ---> 0 runs
5.6 overs ---> 0 runs
Total Runs in each over :
0 over 2 runs scored
1 over 3 runs scored
2 over 12 runs scored
3 over 12 runs scored
4 over 4 runs scored
5 over 9 runs scored
Rajasthan Royals scored 42 runs against Sunrisers Hyderabad in first 6 overs
--------------
Sunrisers Hyderabad team scores for first six overs :
0.1 overs ---> 0 runs
0.2 overs ---> 0 runs
0.3 overs ---> 0 runs
0.4 overs ---> 0 runs
0.5 overs ---> 4 runs
0.6 overs ---> 0 runs
1.1 overs ---> 4 runs
1.2 overs ---> 0 runs
1.3 overs ---> 0 runs
1.4 overs ---> 1 runs
1.5 overs ---> 1 runs
1.6 overs ---> 1 runs
2.1 overs ---> 1 runs
2.2 overs ---> 1 runs
2.3 overs ---> 0 runs
2.4 overs ---> 0 runs
2.5 overs ---> 0 runs
2.6 overs ---> 1 runs
3.1 overs ---> 6 runs
3.2 overs ---> 4 runs
3.3 overs ---> 4 runs
3.4 overs ---> 1 runs
3.5 overs ---> 1 runs
3.6 overs ---> 0 runs
4.1 overs ---> 0 runs
4.2 overs ---> 6 runs
4.3 overs ---> 1 runs
4.4 overs ---> 2 runs
4.5 overs ---> 6 runs
4.6 overs ---> 1 runs
4.7 overs ---> 0 runs
5.1 overs ---> 0 runs
5.2 overs ---> 1 runs
5.3 overs ---> 1 runs
5.4 overs ---> 4 runs
5.5 overs ---> 4 runs
5.6 overs ---> 1 runs
Total Runs in each over :
0 over 4 runs scored
1 over 7 runs scored
2 over 3 runs scored
3 over 16 runs scored
4 over 16 runs scored
5 over 11 runs scored
Sunrisers Hyderabad scored 57 runs against Rajasthan Royals in first 6 overs